
@{
    ViewBag.Title = "Index";
}
@model FirstMVC5.Models.Personne
<h2>Index</h2>
<p>
    Je suis la vue qui affiche une personne
</p>

Nom : @Model.Nom <br/>
Age : @Model.Age <br/>
Email : @Model.Email <br/>
